@charset "UTF-8";
/* CSS Document */


body {
  font-family: "Open Sans", sans-serif;
  padding: 25px 20px;
  margin: 0;
  text-align: center;
}
/* USE:

text-color
font-size
font-family
background color 
margin
padding 
border width, style, and color
*/